div#title
	a(href="/") Emotiglobe

div#currentInfo 
	h2 About The Globe
	p See how the world is feeling...
	
	h2 The Algorythm
	
	h2 The Source
	p You can find the source we're building here although we are 