div#title
	a(href="/") Emotiglobe

div#currentInfo 
	h2 About The Globe
	p Emotiglobe is a visual representation of how the world is feeling right now. The lines drawn in specific geographic locations reveal if people are happy or sad. The bigger the line is, the more intense emotions are in that area. Red lines show negative levels of happiness and green lines positive levels.
	
	h2 The Algorithm
	p We are continiously reading Twitter's live stream trying to find keyword combinations that reveal emotions. Currently it is in a very early stage but it is our main focus to improve the logic as we progress on this project. 
	
	h2 The Source
	p You can find the source we're building at <a href="http://github.com" target="_blank" class="external"><b>Github</b></a> and you are free to participate if you want to help: 
		a(href="http://github.com/makesites/emotiglobe/", target="_blank", class="external") http://github.com/makesites/emotiglobe/

	h2 Thanks! 
	p Big thanks to <a href="http://nodester.com" target="_blank" class="external"><b>Nodester</b></a> for providing the hosting for this service
	p The developers that created the necessary modules and those that have contributed with their comments and/or code in the development of this idea. Naming just a few: <a href="http://www.twitter.com/ryndel" class="external" title="Lyndel Thomas">@ryndel</a>, <a href="http://www.twitter.com/" class="external" title="Micheal Benedict">@michealbenedict, <a href="http://www.twitter.com/tracend" class="external" title="Makis Tracend">@tracend</a>
	p <a href="http://google.com" target="_blank" class="external"><b>Google</b></a> and <a href="http://www.chromeexperiments.com/" target="_blank" class="external"><b>Chrome Experiments</b></a> for pushing the envelope on WebGL. 
	p And to all of you that visited the website :)  

a(href="http://github.com/makesites/emotiglobe/", target="_blank")
	img#fork(src="https://d3nwyuy0nl342s.cloudfront.net/img/4c7dc970b89fd04b81c8e221ba88ff99a06c6b61/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f77686974655f6666666666662e706e67", alt="Fork emotiglobe on GitHub")