extends layout

block content

div#container
	div#fallback
		div(class="copy")
			p 
				strong This code is experimental. It requires a desktop browser with webGL support e.g. Chrome or Firefox.
			p Emotiglobe is a visual representation of how the world is feeling right now. The lines drawn in specific geographic locations reveal how people are feeling. The bigger the line is, the more happy expressions we captured from people in that area.
			p Emotiglobe uses 
				a(href="http://www.chromeexperiments.com/globe", target="_blank")The WebGL Globe
				, part of Google's awesome Chrome Experiments.

div#title
	a(href="/") Emotiglobe

div#currentInfo See how the world is feeling...
	a(href="/about") read more
//-  span(id="year1990", class="year") 1990
//-  span(id="year1995", class="year") 1995
//-  span(id="year2000", class="year") 2000
