
	<div id="title">
		<a href="/">Emotiglobe</a>
    </div>
	<div id="currentInfo">See how the world is feeling...
		<a href="/about">read more</a>
    </div>
    <div id="container" class="clearfix">
    	<div class="fallback">
			<div class="copy">
				<p><strong>This code is experimental. It requires a desktop browser with webGL support e.g. Chrome or Firefox.</strong></p>
				<p>Emotiglobe is a visual representation of how the world is feeling right now. The lines drawn in specific geographic locations reveal how people are feeling. The bigger the line is, the more happy expressions we captured from people in that area.</p>
				<p>Emotiglobe uses <a href="http://www.chromeexperiments.com/globe" target="_blank">The WebGL Globe</a>, part of Google's awesome Chrome Experiments.</p>
			</div>
    	</div>
    </div>
    
    <div id="slider" style="display: none">
    <div class="date-container">
    <div class="date"></div>
    </div>
    <form>
    
    <input type="range" min="1" max="" width="365" value="1" step="1">
    </form>
    </div>
    <a class="ribbon oh" href="https://github.com/makesites/emotiglobe/" rel="external"><span class="tag small medium red">Fork on Github</span></a> 
{{#extend "scripts"}}

    
    <!-- script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/three.js/r53/three.min.js"></script -->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	
    <script type="text/javascript" src="/assets/js/libs/Three/ThreeWebGL.js"></script>
    <script type="text/javascript" src="/assets/js/libs/Three/ThreeExtras.js"></script>
    <script type="text/javascript" src="/assets/js/libs/Three/RequestAnimationFrame.js"></script>
    <script type="text/javascript" src="/assets/js/libs/Three/Detector.js"></script>
    <script type="text/javascript" src="/assets/js/libs/Tween.js"></script>
    <script type="text/javascript" src="/assets/js/globe.js"></script>
    
    <script type="text/javascript" src="/assets/js/main.js"></script>
    
	<script type="text/javascript">
		init();
		slider.init();
    </script>
    
    
{{/extend}}