<!doctype html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://raw.github.com/commons/common.css/master/build/common.css">
    <link rel='stylesheet' href='/assets/css/main.css'>
    {{{block "styles"}}}
    
    <meta property="og:title" content="Emotiglobe">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://emotiglobe.com/">
    <meta property="og:image" content="http://emotiglobe.com/apple-touch-icon.png">
    <meta property="og:site_name" content="Emotiglobe">
    <meta property="fb:admins" content="tracend,ryndel">
    <meta property="og:description" content="See how the world is feeling in realtime...">
    
 
</head>    
<body id="{{page}}">
    
   
   
    <div class="share clearfix">
    <! -- Google Plus -->
    <div class="g-plusone" data-size="medium"><a href="https:/plus.goolge.com">Share on G+</a></div>
    <! -- Twitter -->
    <div class="twitter"><a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal">Share on Twitter</a></div>
    <! -- Facebook -->
    <div class="fb-like" data-layout="button_count" data-send="false" data-show-faces="false"></div>
	</div>


    
    {{{body}}}
	
    {{{block "scripts"}}}
    
	<script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-16164477-9']);
      _gaq.push(['_trackPageview']);
      
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
	</script>
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
    <script type="text/javascript" src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    
    
 </body>
 </html>