!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/assets/css/main.css')
  body
  
    != body
    
    script(type="text/javascript", src="/third-party/Three/ThreeWebGL.js")
    script(type="text/javascript", src="/third-party/Three/ThreeExtras.js")
    script(type="text/javascript", src="/third-party/Three/RequestAnimationFrame.js")
    script(type="text/javascript", src="/third-party/Three/Detector.js")
    script(type="text/javascript", src="/third-party/Tween.js")
    script(type="text/javascript", src="/globe.js")
    script(type="text/javascript", src="/assets/js/main.js")