!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/assets/css/main.css')
  body
    div#fb-root
    script(src="http://connect.facebook.net/en_US/all.js#appId=197164370332025&amp;xfbml=1")
    fb:like(href="emotiglobe.com", send="true", width="450", show_faces="true", font="")
    
    != body
    
    script(type="text/javascript", src="/third-party/Three/ThreeWebGL.js")
    script(type="text/javascript", src="/third-party/Three/ThreeExtras.js")
    script(type="text/javascript", src="/third-party/Three/RequestAnimationFrame.js")
    script(type="text/javascript", src="/third-party/Three/Detector.js")
    script(type="text/javascript", src="/third-party/Tween.js")
    script(type="text/javascript", src="/globe.js")
    script(type="text/javascript", src="/assets/js/main.js")