* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
* { margin:0; padding:0 }

/* fonts */
@font-face {
	font-family: 'iconset';
	src:url('fonts/iconset/webfont.eot');
	src:url('fonts/iconset/webfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/iconset/webfont.svg#iconset') format('svg'),
		url('fonts/iconset/webfont.woff') format('woff'),
		url('fonts/iconset/webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

[data-icon]:before {
	font-family: 'iconset'; 
  	content: attr(data-icon);
  	speak: none; 
  	font-style: normal;
  	font-weight: normal;
  	-webkit-font-smoothing: antialiased;
}

html {
	height: 100%;
	font-size:95%;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	color: #333;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-size: 1em;
	line-height: 20px;
}

h1, h2, h3, h4, h5, strong {
	font-weight:600;
}

body#index { 
	background: #fff url(../img/loading.gif) center center no-repeat;
}

.share {
	position: absolute;
	right: 50px;
	width: 360px;
	height: 50px;
	padding-top: 12px;
}

.share div {
	float: left !important;
	width: 90px;
}

.fallback { 
	position: relative; 
	width: 660px; 
	height:640px; 
	margin:0 auto; 
	background:url(../img/fallback-back.jpg) no-repeat top left; 
}

.fallback .copy { 
	position: relative; 
	top:150px; 
	width:300px; 
	margin: 0 auto;
	padding:10px; 
	border:thin solid #fff; 
	border-radius:10px;
	-webkit-border-radius: 10px;
	background-color: rgba(255,255,255,.7); 
}

.fallback .copy p { 
	margin:0; padding:0 
}

#currentInfo {
	position: absolute;
	left: 20px;
	top: 63px;
	margin: 0 auto;
	padding: 10px;
	border-top: 1px solid rgba(255,255,255,0.4);
	z-index:999;
}

#about #currentInfo {
	width: auto;
}

a {
	color: #aaa;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

a.external {
	color: #449;
}

#title {
	position: absolute;
	top: 20px;
	left: 20px;
	width: 270px;
	padding: 10px;
	background-color: rgba(0,0,0,0.1);
	border-radius: 3px;
	-webkit-border-radius: 3px;
	font-size: 1.2em;
	z-index:999;
}

#slider {
	position: absolute;
	width:100%;
	bottom: 10px;
	left: 10px;
}

#slider input {
	 width:90%; 
	 margin:0 auto;
}

/* clearfix solution */
.colgroup:before, .colgroup:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.colgroup:after { clear: both; }
.colgroup { zoom: 1; }

.col1, .col2, .col3, .col4, .col5, .col6 {
	float:left; 
	padding: 20px 50px;
}

.colgroup section, .colgroup .column { 
	margin: 0 auto;
}

.colgroup section h2 {
	padding: 10px 0;
	text-align: center;
}

.colgroup section p {
	padding-bottom: 10px;
}

.colgroup section i {
	font-size: 4em;
	color:#0C0;
	text-align: center;
	display: block;
	padding: 20px 0;
}
 
.colgroup .content {
}

.col1 { width:100%; }
.col2 { width:75%  }
.col3 { width:50%; }
.col4 { width:33.333%; }
.col5 { width: 25%; }
.col6 { width: 16.666%; }
.col7 { width: 8.333%; }

.ribbon {
	position: absolute;
	overflow: hidden;
	right: 0;
	top: 0;
	width: 200px;
	height: 150px;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration: none !important;
	z-index:999;
}

.ribbon:hover {
	text-decoration: none !important;
}

.ribbon .tag {
	display: block;
	height: 30px;
	width: 200px;
	color: #fff;
	text-align: center;
	font-size: 13px;
	font-weight: bold;
	line-height: 30px;
	text-decoration:none !important;
	box-shadow: 0px 0px 10px rgba( 0, 0, 0, 0.4 );
	-webkit-transform-origin: 15px 0px;
	-moz-transform-origin: 15px 0px;
	-ms-transform-origin: 15px 0px;
	-o-transform-origin: 15px 0px;
	transform-origin: 15px 0px;
	-webkit-transform: translate(80.00000000000003px, -14.999999999999996px) rotate(45.000000000000014deg);	
	-moz-transform:	translate(80.00000000000003px, -14.999999999999996px) rotate(45.000000000000014deg);
	-ms-transform:  translate(80.00000000000003px, -14.999999999999996px) rotate(45.000000000000014deg);	
	-o-transform: translate(80.00000000000003px, -14.999999999999996px) rotate(45.000000000000014deg);			
}
.ribbon .tag:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 196px;
	height: 26px;
	margin: 1px;
	border: 1px solid rgba( 255, 255, 255, 0.4 );
}

.tag:hover { background-color: #111; color: #fff; text-decoration:none !important }
.small.tag, .small.tag:visited { font-size: 11px; }
.tag, .tag:visited,
.medium.tag, .medium.tag:visited { font-size: 13px; }
.large.tag, .large.tag:visited { font-size: 14px; }

.red, a.red:visited {
	background-color: #e33100;
}

@media screen and (max-width: 800px) {

.ribbon {
	width: 120px;
	height: 120px;
}

.ribbon .tag {
	height: 30px;
	width: 120px;
	-webkit-transform: translate(50.00000000000003px, -14.999999999999996px) rotate(45.000000000000014deg);
}

.ribbon .tag:after {
	width: 156px;
	height: 26px;
}

}
