html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	color: #333;
	font-family: sans-serif;
	font-size: 13px;
	line-height: 20px;
	height: 100%;
}

body#index { 
	background: #fff url(../img/loading.gif) center center no-repeat;
}


#fallback { position: relative; width: 560px; height:600px; margin:0 auto; background:url(../img/fallback-back.jpg) no-repeat top left; }

#fallback .copy { position: relative; top:150px; width:300px; margin: 0 auto; border:thin solid #FFF; border-radius:10px; background-color: rgba(255,255,255,.7); padding:10px; }

#fallback .copy p { margin:0; padding:0 }


#info {

	font-size: 11px;
	position: absolute;
	bottom: 5px;
	background-color: rgba(0,0,0,0.8);
	border-radius: 3px;
	right: 10px;
	padding: 10px;

}

#currentInfo {
	width: 270px;
	position: absolute;
	left: 20px;
	top: 63px;

	border-top: 1px solid rgba(255,255,255,0.4);
	padding: 10px;
}

#about #currentInfo {
	width: auto;
}

a {
	color: #aaa;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

a.external {
	color: #449;
}

.bull {
	padding: 0 5px;
	color: #555;
}

#title {
	position: absolute;
	top: 20px;
	width: 270px;
	left: 20px;
	background-color: rgba(0,0,0,0.1);
	border-radius: 3px;
	font: 20px Georgia;
	padding: 10px;
}

.year {
	font: 16px Georgia;
	line-height: 26px;
	height: 30px;
	text-align: center;
	float: left;
	width: 90px;
	color: rgba(255, 255, 255, 0.4);

	cursor: pointer;
	-webkit-transition: all 0.1s ease-out;
}

.year:hover, .year.active {
	font-size: 23px;
	color: #fff;
}

#ce span {
	display: none;
}

#ce {
	width: 107px;
	height: 55px;
	display: block;
	position: absolute;
	bottom: 15px;
	left: 20px;
	background: url(../img/ce.png);
}

#fork {
	position: absolute; 
	top: 0; 
	right: 0; 
	border: 0; 
	z-index: 1001 !important;
}

.fb_iframe_widget, .fb_edge_widget_with_comment {
	position: absolute !important;
	top: 8px;
	right: 4px;
	z-index: 1000 !important;
}